*,
*::before,
*::after {
  box-sizing: border-box;
}

/* сбрасываем состояние focus для всех элементов */
*:focus {
  outline: none;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;    /* содержимое страницы выровнено по центру */
  align-items: center;        /* содержимое страницы выровнено по центру */
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}



/* Контейнер для лейаута */
.content {
  display: grid;
  grid-template-columns: 711px 399px;
  /*height: 534px;*/  /* убрал высоту */
  gap: 30px;
  margin: 133px 30px;
  grid-template-areas:
    'video_content content_list';
}

/* Левая секция с видео и формой поиска*/
.result {
  grid-area: video_content;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-content: stretch;
  gap: 16px;
}

/* контейнер с видео */
.result__video-container {
  position: relative;
  height: 386px;
  justify-content: center;
}

/* видео */
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;    /* добавил позиционирование видео по центру */
}

/* контейнер с формой поиска */
.search-form {
  /*height: 54px;/* /* убрал высоту */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* общие стили для формы поиска */
.search-form__fieldset {
  font-weight: 400;
  font-size: 18px;
  border: none;
}

/* стили для заголовков формы поиска */
.search-form__fieldset-title{
  font-weight: inherit;
  font-size: inherit;
  margin-bottom: 5px;
}

/* общие стили связывания подписи элемента формы с самим элементом */
.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* скрываем элементы */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

/* стили для текстового поля формы поиска */
.search-form__textfield {
  min-width: 225px;          /* поменял width на min-width */
  min-height: 27px;          /* поменял width на min-width */
  /*border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);*/
  border-top: 1px solid #fff;      /* изменил цвет линии */
  border-bottom: 1px solid #fff;   /* изменил цвет линии */
  border-left: none;
  border-right: none;
  background-color: transparent;
  padding: 0;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
  /*color: rgba(255, 255, 255, 0.7);*/
  color: #fff;         /* изменил цвет */
  appearance: none;
}

/* контейнер для элемента чекбокса */
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

/* кастомные стили кнопки чекбокса */
.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 1px solid #fff;
  margin-right: 5px;
}

/* стили кнопки чекбокса при нажатии */
.search-form__pseudo-checkbox::after {
  display: none;
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
  margin-top: 1px;
  margin-left: 1px;
}

/* вызываем стиль кнопок чекбокса при нажатии */
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}




/* Правая секция с заголовком "Посмотри в окно" и списком карточек */

/* контейнер */
.content__details {
  grid-area: content_list;
  display: flex;
  flex-direction: column;
  justify-content: start;
  /*height: 534px;*/
  height: 100%;        /* убрал явно заданную высотру */
}

/* стили заголовка */
.title {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  line-height: 94%;
  margin-bottom: 26px;
}

/* дополнительные стили фрагмента "ПО-" заголовка */
.content__accent {
  color: #545050;
}

/* контейнер со списком карточек */
.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 30px;
  height: 298px;
}

/* контейнер списка карточек */
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* контейнер для элемента списка */
.content__list-item {
  padding: 0 3px;
  /*height: 103px;*/       /* убрал высоту */
}

/* стили для ссылки */
.content__card-link {
  display: block;          /* сделал элемент блочным  */
  text-decoration: none;
  color: #fff; 
}

/* контейнер для карточки */
.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
	align-items: flex-start;
  /*height: 103px;*/        /* убрал высоту */
}

/* контейнер для заголовка и текстового описания карточки */
.content__video-card-description-container {
  display: flex;                /* контейнер перевел во flex-контейнер */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;                     /* подобрал расстояние между заголовком и описанием */
  width: 50%;
  flex-grow: 1;
}

/* стили заголовка карточки */
.content__video-card-title {
  font-size: 30px;
  max-height: 46px;         /* явно указал высоту строки в соответствии с макетом */
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
}

/* стили текстового описания карточки */
.content__video-card-description {
  line-clamp: 2;
  line-height: 16.2px;
}

/* контейнер для видео карточки */
.content__video-card-thumbnail {
  width: 50%;
  height: 103px;           /* явно указали высоту видео */
  object-fit: cover;
  object-position: center;
}




/* Кнопка */

/* общие стили */
.button {
  font-family: inherit;  /* добавил наследование шрифта */
  font-weight: 700;      /* добавил толщину шрифта */
  font-size: 18px;
  min-height: 34px;      /* поменял height на min-height */
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

/* дополнительне стили кнопки "Найти" */
.search-form__submit-button {
  min-width: 194px;               /* поменял width на min-width */
  align-self: flex-end;
}

/* дополнительне стили кнопки "Показать еще" */
.more-button {
  margin: 1px 3px;
  min-height: 34px;
}


/* Стили состояний */

/* hover для чекбокса, кнопки и карточки*/
.search-form__checkbox-list > .search-form__label:hover,
.button:hover,
.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}


/* active */

/* active для тектового поля ввода города */
.search-form__textfield:active {
  /*border: 1px solid rgba(255, 255, 255, 0.7);*/
  outline: 1px solif #fff;     /* поменял цвет */
}

/* active кнопки найти и карточки*/
.button:active,
.content__card-link:active,        /* исправил селекторы */
.content__card-link_current {      /* исправил селекторы */
  background-color: #545050;
}

/* focus-visible */
.search-form__textfield:focus-visible,
.search-form__label:focus-visible,
.button:focus-visible,
.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
